/* COULEURS */
/*
	#C3979F Tuscany
	#511730 Tyrian Purple
	#C6D8D3 Opal
	#4F646F Cadet
	#011C27 Rich Black FOGRA 29 (notre noir)
*/

/* FONTS */

/* sans-serif */
@font-face{
    font-family: "HindMadurai-Regular";
    src: url("../fonts/HindMadurai-Regular.ttf");
}
@font-face{
    font-family: "HindMadurai-Medium";
    src: url("../fonts/HindMadurai-Medium.ttf");
}
@font-face{
    font-family: "HindMadurai-Bold";
    src: url("../fonts/HindMadurai-Bold.ttf");
}

/* slogan ou feature text "h1" */
@font-face{
    font-family: "PoiretOne-Regular";
    src: url("../fonts/PoiretOne-Regular.ttf");
}


/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* MOBILE FIRST */

body {
	height: 100vh;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "HindMadurai-Bold";
}
span{
	min-height: 1.5em;
	font-size: 0.7em;
	text-align: right;
	padding: 0;
	color: #511730;
}
.display--none{
	display: none;
}
.display--flex{
	display: flex;
}

.welcome-container {
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 80vw;
	margin: auto;
}
.form-accueil .login-btns {
	display: flex;
	flex-direction: row;

	justify-content: flex-end;
}
/* .login-btns{
	display: flex;
}
.login-btns img{
	color: #FFFFFF;
	width:30px;
	background-color: #FFFFFF;
} */

#sign-up, #sign-in{
	margin-right: 25px;
	/* margin-right: auto; */

	background-color: #4F646F;

}
#sign-up:hover, #sign-in:hover{
	background-color: #C3979F;
}
button {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	color: #FFFFFF;
	font-family: "HindMadurai-Bold";

	background-color: #011C27;

	margin-top:1vh;
	font-size: 0.7em;
	padding: 1vw 2vw;
	/* background-color: #4F646F;  */
}
button:hover {
	transform: scale(0.97);
	background-color: #C3979F;
}
.welcome-img {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-image: url("../images/welcome-background.jpg");
	background-size: cover;
	object-fit: none; 
	flex-basis: 90%;
}
.welcome-img h1{
	font-size: 2em;
	font-family: "PoiretOne-Regular";
	color: #511730;
	text-shadow: 5px 5px 5px #FFFFFF;
	text-align: center;
	margin-bottom: auto;
}

/* FORMULAIRES */
.form-accueil{
	box-sizing: border-box;
	margin: auto;
	padding: 5vw;
	border-radius: 5px;
	width: 90%;
	background-color: #C6D8D3;
	flex-direction: column;
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	font-family: "HindMadurai-Medium";
	font-size: 1em;
}
.form-accueil div{
	display: flex;
	flex-direction: column;
}
.form-accueil input{
	margin-bottom: 8px;
	height: 3vw;
}



/* AUTRES FORMATS */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

	.welcome-img h1{
		font-size: 3em;
	}
	.form-accueil{
		font-size: 1em;
	}
	button{
		font-size: 1em;
	}
	.form-accueil button{
		font-size: 1em;
	}
	
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

	.welcome-img h1{
		font-size: 4em;
	}
	.form-accueil{
		font-size: 1.3em;
	}
	.welcome-container{
		width: 50%;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

	.welcome-img h1{
		font-size: 5.5em;
	}
	.form-accueil{
		font-size: 1.3em;
		max-width: 1200px;
		padding: 2vw;
	}
	.form-accueil input{
		height: 1.5vw;
	}
}