/* COULEURS */
/*
    #C3979F Tuscany
    #511730 Tyrian Purple
    #C6D8D3 Opal
    #4F646F Cadet
    #011C27 Rich Black FOGRA 29 (notre noir)
*/

/* FONTS */

/* sans-serif */
@font-face{
    font-family: "HindMadurai-Regular";
    src: url("../fonts/HindMadurai-Regular.ttf");
}
@font-face{
    font-family: "HindMadurai-Medium";
    src: url("../fonts/HindMadurai-Medium.ttf");
}
@font-face{
    font-family: "HindMadurai-Bold";
    src: url("../fonts/HindMadurai-Bold.ttf");
}

/* serif */
@font-face{
    font-family: "Lora-Regular";
    src: url("../fonts/Lora-Regular.ttf");
}
@font-face{
    font-family: "Lora-Italic";
    src: url("../fonts/Lora-Italic.ttf");
}
@font-face{
    font-family: "Lora-Medium";
    src: url("../fonts/Lora-Medium.ttf");
}
@font-face{
    font-family: "Lora-MediumItalic";
    src: url("../fonts/Lora-MediumItalic.ttf");
}
@font-face{
    font-family: "Lora-Bold";
    src: url("../fonts/Lora-Bold.ttf");
}
@font-face{
    font-family: "Lora-BoldItalic";
    src: url("../fonts/Lora-BoldItalic.ttf");
}

/* slogan ou feature text "h1" */
@font-face{
    font-family: "PoiretOne-Regular";
    src: url("../fonts/PoiretOne-Regular.ttf");
}


/* MOBILE FIRST */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'RobotoDraft', sans-serif;
    font-size: 95%;
}
body {
    padding-bottom: 50px;
    font-size: 1em;
}
main {
    /* padding-left: 2vw; */
    /* margin-top: 12vh; */
    margin-top: 80px;
	display: flex;
	align-items: center;
}
.main-title{
    width: 100%;
}
.main-title-welcome h1{
    display: flex;
    justify-content: space-between;
}
h1{
    font-family: "PoiretOne-Regular";
    margin: auto;
}
h2{
    font-family: "Lora-Medium";
}
span{
	min-height: 1.5em;
	font-size: 0.7em;
	text-align: right;
	padding: 0;
	margin: 0;
	color: #511730;
}
span.nom_bouteille{
    font-size: 1em;
    min-height: 0;
    color: #511730;
}
button{

    align-self: flex-end;
	margin-top:1vh;
	font-size: 0.7em;
	padding: 1vw 2vw;
	background-color: #4F646F;
    color: #FFFFFF;
    font-family: "HindMadurai-Bold";
    border: none;
    border-radius: 5px;
    text-align: center;
}
button:hover {
	background-color: #C3979F;
}
a{
    text-decoration: none;
}


/* Navigation menu */

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    /* height: 10vh; */
    height: 65px;
    background-color: #011C27;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
nav .logo {
    float: none;
    width: auto;
    justify-content: center;
    height: 60%;
}
nav .logo img {
	height: 100%;
	width: auto;
}
nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    /* top: 10vh; */
    top: 64px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(1, 28, 39, .80);
    overflow: hidden;
    transition: all .5s ease-in-out;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links a {
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
}
nav :checked ~ .links {
    bottom: 0;
}
nav .icon-burger {
    display: block;
}
nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
}
nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
}
nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
}
nav>ul>li>a:hover {
    color: #C3979F;
}
nav .links li {
    list-style: none;
}
#nav-toggle {
    position: absolute;
    top: -100px;
}
nav .icon-burger .line {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
}


/* CELLIER */
.cellier{
    padding: 0 3vw;
    width: 100%;
}
.bouteille{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
    padding: 21px;
    background-color: #C6D8D3;
    border-radius: 5px;
}
.tuile{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 85px;
}
.img{
    width: 30%;
    max-width: fit-content;
    width: -moz-max-content;
    background-color: #FFFFFF;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0.1em;
    margin: 0 20px 0 10px;
    position: relative;
}
.img img {
    max-width: 100%;
    max-height: 100%;
}
.description{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.description .nom{
    font-family: "Lora-BoldItalic";

}
.description p{
    margin: 3px;
    font-family: "HindMadurai-Medium";
    color:  #011C27;
}
.description p.pays, .description p.quantite{
    color : #511730;
}
.description p.quantite{
    font-family: "HindMadurai-Bold";
}
.description p.millesime{
    font-family: "Lora-Italic";
}
.description p.prix{
    color: #4F646F;
    font-family: "HindMadurai-Bold";
}
.description div:last-of-type{
    border-top: 1px solid #4F646F;
    margin-top: 8px;
}
.btnAjouter, .btnBoire{
    position: absolute;
    width: 18px;
    height: 18px;
}
.btnAjouter{
    top: calc(50% - 12.5px - 13px - 9px);
    left: calc(100% - 10px);
}
.btnBoire{
    top: calc(50% + 12.5px + 4px);
    left: calc(100% - 10px);
}
.bulle{
    position: absolute;
    background-color: #511730;
    color: #FFFFFF;
    border-radius: 50%;
    top: calc(50% - 12.5px);
    left: calc(100% - 12.5px);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulle p {
    margin: 0;
    font-family: "HindMadurai-Medium";
}
.tiny-text{
    font-size: 0.9em;
}

.optionsIcones{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    justify-content: center;
    height: 100%;
}

.optionsIcones img{
    width: 18px;
    margin: 8px 0;
}

/* FOOTER */

footer {
    position: fixed;
    font-family: "HindMadurai-Medium";
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-align: center;
    background-color: #011C27;
    color: #FFFFFF;
    z-index: 9999;
    display: none;
}
footer p
{
    padding-right:50px;
    font-size: 1em;
}


/* FORMULAIRE MODIFICATION DE COMPTE */
/* FORMULAIRE MODIFICATION DE BOUTEILLE DE CELLIER */

.compte, .ajouter, .modificationBtl{
    margin: auto;
    padding: 18px;
    border-radius: 5px;
    width: 90%;
    background-color: #C6D8D3;
	display: flex;
    flex-direction: column;
    box-sizing: border-box;
	font-family: "HindMadurai-Medium";
    font-size: 1em;
    box-sizing: border-box;
}
form button{
    background-color: #011C27;
}
form, .form-ajouter{
	display: flex;
    flex-direction: column;
    width: 100%;
}
input{
	margin-bottom: 8px;
    height: 15px;
}
form button:hover, .form-ajouter button:hover{
    background-color: #C3979F;
}
form h3{
    color: #511730;
}
.forms-btns{
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.btnAnnuler{
    margin-right: 15px;
	background-color: #4F646F;
}



/* AJOUTER BOUTEILLE  */

.listeAutoComplete{
    margin: 0;
}
.nouvelleBouteille{
    display: flex;
    flex-direction: column;
}

/* BOUTON CALL2ACTION AJOUTER BOUTEILLE*/
.btn-call-action{
	text-transform: uppercase;
	background-image: linear-gradient(to left,#F54EA2,#FF7676,#F54EA2);
    transition: 0.6s;
    width: 90%;
    font-size: 0.4em;
}
.btn-call-action:hover{
	background-position: right;
}


/* AUTRES FORMATS */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	footer {
        display: flex;
    }
    .cellier{
        font-size: 1.5em;
    }
    .tuile{
        height: 185px;
    }
    main{
        margin: 130px 0 30px 0;
    }
    nav{
        height: 80px;
    }
    nav .links {
        top: 80px;    
    }
    .optionsIcones img{
        width: 30px;
        margin: 13px 0;
    }
    .img{
        margin: 0 40px 0 20px;
    }
    .btnAjouter, .btnBoire{
        width: 30px;
        height: 30px;
    }
    .btnAjouter{
        top: calc(50% - 65px);
        left: calc(100% - 15px);
    }
    .btnBoire{
        top: calc(50% + 34px);
        left: calc(100% - 15px);
    }
    .bulle{
        top: calc(50% - 25px);
        left: calc(100% - 25px);
        width: 50px;
        height: 50px;
    }
    .bulle p{
        font-size: 1em;
    }
    .description{
        font-size: 0.9em;
    }
    .description div:last-of-type {
        margin-top: 16px;
    }
    .description .prix{
        margin-top: 10px;
    }
    input{
        height: 22px;
    }
    span{
        font-size: 0.9em;
    }
    .ajouter, .compte, .modificationBtl{
        padding: 35px;
    }
    form button{
        padding: 10px 20px;
    }
    .btnAnnuler{
        margin-right: 25px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1025px) {

    nav{
        height: 110px;
    }
    nav .links {
        top: 110px;    
    }
    .bouteilles{
        padding: 0;
        margin: auto;
        max-width: 2340px;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .bouteille{
        padding: 30px;
        width: 45%;
        margin: 10px 10px;
        max-width: 750px;
    }
    .tuile{
        height: 225px;
    }
    .description{
        overflow-y: auto;
        overflow-x: hidden;
    }
    span{
        font-size: 1em;
    }
    .ajouter, .compte, .modificationBtl{
        width: 60%;
        max-width: 1100px;
    }
}