/* COULEURS */
/*
    #C3979F Tuscany
    #511730 Tyrian Purple
    #C6D8D3 Opal
    #4F646F Cadet
    #011C27 Rich Black FOGRA 29 (notre noir)
*/

/* FONTS */

/* sans-serif */
@font-face{
    font-family: "HindMadurai-Regular";
    src: url("../fonts/HindMadurai-Regular.ttf");
}
@font-face{
    font-family: "HindMadurai-Medium";
    src: url("../fonts/HindMadurai-Medium.ttf");
}
@font-face{
    font-family: "HindMadurai-Bold";
    src: url("../fonts/HindMadurai-Bold.ttf");
}

/* serif */
@font-face{
    font-family: "Lora-Regular";
    src: url("../fonts/Lora-Regular.ttf");
}
@font-face{
    font-family: "Lora-Italic";
    src: url("../fonts/Lora-Italic.ttf");
}
@font-face{
    font-family: "Lora-Medium";
    src: url("../fonts/Lora-Medium.ttf");
}
@font-face{
    font-family: "Lora-MediumItalic";
    src: url("../fonts/Lora-MediumItalic.ttf");
}
@font-face{
    font-family: "Lora-Bold";
    src: url("../fonts/Lora-Bold.ttf");
}
@font-face{
    font-family: "Lora-BoldItalic";
    src: url("../fonts/Lora-BoldItalic.ttf");
}

/* slogan ou feature text "h1" */
@font-face{
    font-family: "PoiretOne-Regular";
    src: url("../fonts/PoiretOne-Regular.ttf");
}


/* MOBILE FIRST */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'RobotoDraft', sans-serif;
    font-size: 95%;
}
body {
    padding-bottom: 50px;
}
main {
    /* padding-left: 2vw; */
	margin-top: 18vh;
	display: flex;
	align-items: center;
}
h1{
    font-family: "PoiretOne-Regular";
    margin: auto;
}
h2{
    font-family: "Lora-Medium";
}
span{
	color: red;
}
span.nom_bouteille{
    color: #511730;
}
button{

    align-self: flex-end;
	margin-top:1vh;
	font-size: 0.7em;
	padding: 1vw 2vw;
	background-color: #4F646F;
    color: #FFFFFF;
    font-family: "HindMadurai-Bold";
    border: none;
    border-radius: 5px;
    text-align: center;
}
button:hover {
	background-color: #C3979F;
}
a{
    text-decoration: none;
}


/* Navigation menu */

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 10vh;
    background-color: #011C27;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
nav .logo {
    float: none;
    width: auto;
    justify-content: center;
    height: 60%;
}
nav .logo img {
	height: 100%;
	width: auto;
}
nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 10vh;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(1, 28, 39, .80);
    overflow: hidden;
    transition: all .5s ease-in-out;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links a {
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
}
nav :checked ~ .links {
    bottom: 0;
}
nav .icon-burger {
    display: block;
}
nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
}
nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
}
nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
}
nav>ul>li>a:hover {
    color: #C3979F;
}
nav .links li {
    list-style: none;
}
#nav-toggle {
    position: absolute;
    top: -100px;
}
nav .icon-burger .line {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
}


/* cellier */
.cellier{
    padding: 0 4vw;
    width: 100%;
}
.bouteille{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 5vw auto;
    width: 100%;
    padding: 6vw;
    background-color: #C6D8D3;
    border-radius: 5px;
}
.tuile{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 30vh;
    margin-bottom: 3vw;
}
.img{
    width: 30%;
    background-color: #FFFFFF;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.img img {
    width:100%;
}
.description{
    width: 70%;
    margin-left: 3vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description .nom{
    font-family: "Lora-BoldItalic";
}
.description p{
    margin: 1vw;
    font-family: "HindMadurai-Medium";
}
.description p.pays, .description p.quantite{
    color : #511730;
}
.description p.quantite{
    font-family: "HindMadurai-Bold";
}
.description p.millesime{
    font-family: "Lora-Italic";
}
.description div:last-of-type{
    border-top: 1px solid #4F646F;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER */

footer {
    position: fixed;
    font-family: "HindMadurai-Medium";
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-align: center;
    background-color: #011C27;
    color: #FFFFFF;
    z-index: 9999;
    display: none;
}
footer p
{
    padding-right:50px;
    font-size: 1em;
}


/* FORMULAIRE MODIFICATION DE COMPTE */
/* FORMULAIRE MODIFICATION DE BOUTEILLE DE CELLIER */

.compte, .ajouter, .modificationBtl{
    margin: auto;
    padding: 5vw;
    border-radius: 5px;
    width: 90%;
    background-color: #C6D8D3;
	display: flex;
    flex-direction: column;
    box-sizing: border-box;
	font-family: "HindMadurai-Medium";
	font-size: 1em;
}
form, .form-ajouter{
	display: flex;
	flex-direction: column;
}
input{
	margin-bottom: 8px;
	height: 4vw;
}
form button:hover, .form-ajouter button:hover{
    background-color: #C3979F;
}


/* AJOUTER BOUTEILLE  */

.listeAutoComplete{
    margin: 0;
}
.ajouter button{
    margin-left: auto;
}
.nouvelleBouteille{
    display: flex;
    flex-direction: column;
}


/* AUTRES FORMATS */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	footer {
        
        display: flex;
    }
    .cellier{
        font-size: 1.5em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .cellier, .ajouter, .compte .modificationBtl{
        /* max-width: 1200px; */
        max-width: 1400px;
        margin: auto;
    }
    h1{
        display: block;
        width: 100%;
        margin: 1vw;
    }
    .cellier{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bouteille{
        max-width: 45%;
        margin: 1vw;
        padding: 2.5vw;
    }
    .img{
        width: 40%;
    }
    .description{
        width: 60%;
        margin-left: 1vw;
    }
    .tuile{
        height: 90%;
    }
    .options{
        height: 10%;
    }
    input{
        height: 1.5vw;
    }
    form, .nouvelleBouteille{
        font-size: 1.2em;
    }
}